@model FortuneTellerApp.Models.Customer



<div>


    <div class="jumbotron">
        <h1>Your Fortune</h1>
        <p>
            <span>@Html.DisplayFor(model => model.CustomerFirstName)</span> <span>@Html.DisplayFor(model => model.CustomerLastName)</span> will retire in
            <span>@ViewBag.Retirement</span> years with <span>@ViewBag.Money</span> in the bank, a vacation home in <span>@ViewBag.vacaHome</span> and a <span>@ViewBag.TransportationMode</span>;

        </p>
    </div>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
